<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wlgdo.avatar.apps.mapper.AppInfoMapper">

  <resultMap id="appInfoMap" type="com.wlgdo.avatar.apps.entity.AppInfo">
                  <id property="id" column="id"/>
                        <result property="appId" column="app_id"/>
                        <result property="appName" column="app_name"/>
                        <result property="appSecret" column="app_secret"/>
                        <result property="createTime" column="create_time"/>
                        <result property="updateTime" column="update_time"/>
            </resultMap>

  <!--appInfo简单分页查询-->
  <select id="getAppInfoPage" resultMap="appInfoMap">
    SELECT
                  id,
                        app_id,
                        app_name,
                        app_secret,
                        create_time,
                        update_time
              FROM app_info
    <where>
              <if test="appInfo.id != null and appInfo.id.trim() != ''">
          AND id = #{appInfo.id}
        </if>
              <if test="appInfo.appId != null and appInfo.appId.trim() != ''">
          AND app_id = #{appInfo.appId}
        </if>
              <if test="appInfo.appName != null and appInfo.appName.trim() != ''">
          AND app_name = #{appInfo.appName}
        </if>
              <if test="appInfo.appSecret != null and appInfo.appSecret.trim() != ''">
          AND app_secret = #{appInfo.appSecret}
        </if>
              <if test="appInfo.createTime != null and appInfo.createTime.trim() != ''">
          AND create_time = #{appInfo.createTime}
        </if>
              <if test="appInfo.updateTime != null and appInfo.updateTime.trim() != ''">
          AND update_time = #{appInfo.updateTime}
        </if>
          </where>
  </select>



</mapper>
